<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.calc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.user.mactest.activities.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.user.mactest.activities.Courses" >
        </activity>
        <activity android:name="com.user.mactest.activities.Groups" >
        </activity>
        <activity android:name="com.user.mactest.activities.Names" >
        </activity>
        <activity android:name="com.user.mactest.activities.Camera" >
        </activity>
        <activity
            android:name="com.user.mactest.manager.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.user.mactest.manager.ManagerActivity"
            android:label="@string/title_activity_manager" >
        </activity>
        <activity
            android:name="com.user.calc.EditorActivity"
            android:label="@string/title_activity_editor" >
        </activity>
        <activity
            android:name="com.user.calc.GroupEditor"
            android:label="@string/title_activity_group_editor" >
        </activity>
        <activity
            android:name="com.user.calc.CourseEditor"
            android:label="@string/title_activity_course_editor" >
        </activity>
        <activity
            android:name="com.user.calc.StudentEditor"
            android:label="@string/title_activity_student_editor" >
        </activity>
    </application>

</manifest>